#person-detail-container {
  .well {
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    padding: 1.5rem; // Increase padding for more space around the content
    height: auto; // Responsive height for cast & crew section
    overflow-y: auto;
  }

  .main-image {
    border-radius: 0.25rem;
    border: 1px solid #ddd; // Gray border to match the other images
    background-color: #f8f9fa;
    width: 100%;
    height: auto; // Maintain aspect ratio
    max-width: 700px; // Set max width for larger screens
    object-fit: cover; // Ensures the image is cropped if necessary
    margin-bottom: 1.5rem; // Added margin
  }

  .btn-group .btn-info:not(:last-child) {
    margin-right: 0.5rem; // Space between buttons
  }

  .lead {
    font-weight: 500;
    color: #333; // Dark gray color for summary text
  }

  strong {
    color: #555; // Dark gray color for strong tags
    font-weight: 700; // Less bold
  }

  .badge-container {
    margin-left: 0.5rem;
  }

  .nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5rem;
  }

  .nav-tabs .nav-link {
    color: #555;
    cursor: pointer;
  }

  .nav-tabs .nav-link.active {
    background-color: #e9ecef;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: 600;
  }

  .tab-content .tab-pane {
    padding-top: 0.5rem; // Decreased padding between genres and cast & crew
  }

  .tab-pane .text-center {
    margin-right: 0.75rem; // Decreased margin
  }

  .tab-pane .border {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 0.75rem; // Added padding
    width: 120px; // Standardize width of cast & crew items
  }

  .tab-pane .img-thumbnail {
    width: 100px;
    height: 150px;
    object-fit: cover; // Ensures the image is cropped if necessary
    margin-bottom: 0.5rem; // Added margin
  }

  .well h5 {
    font-size: 1.15rem; // Smaller cast & crew title
    font-weight: 700; // Less bold
    color: #555; // Dark gray color
  }

  .well h3 {
    margin-bottom: 0.2rem; // Adjusted margin between cast & crew title and tab title
  }

  .rating-info {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Add space above the rating information */
    color: #555; /* Match color with strong elements */
    font-weight: 700; /* Make it bold */
  }

  .rating-info .rating-text {
    margin-left: 8px; /* Add space between the star and the rating text */
  }

  .rating-info i {
    color: #555; /* Match color with strong elements */
  }

  .filmography-container {
    white-space: nowrap;
  }

  .filmography-item {
    flex: 0 0 auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    border-color: transparent !important;
    cursor: pointer;
  }

  .filmography-title {
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 0.9rem;
    color: #333;
    font-weight: 500;
  }

}
