<div class="container-fluid" id="person-detail-container" *ngIf="selectedPerson">
  <div class="well p-3 bg-light" style="height: calc(100vh - 50px); overflow-y: auto;">
    <div class="row no-gutters mb-2">
      <div class="col-md-4" style="padding-left: 1.5rem; padding-top: 1.5rem;">
        <img class="img-thumbnail main-image" [src]="selectedPerson.posterLink" alt="Person portrait">
      </div>
      <div class="col-md-8">
        <div style="padding: 1.5rem;">
          <div class="d-flex justify-content-between align-items-start mb-3">
            <div>
              <h2>{{ selectedPerson.name }}</h2>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-info mr-2" title="Edit Person" (click)="editPerson(true, selectedPerson)">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button type="button" class="btn btn-info mr-2" title="Delete Person" (click)="deletePerson(selectedPerson)">
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
          </div>
          <div class="person-details">
            <p class="lead">{{ selectedPerson.resume }}</p>
            <p><strong>Born:</strong> {{ selectedPerson.born | date }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="getUniqueFilmographyTypes().length > 0" class="well p-3 bg-light" style="padding-bottom: 0 !important; margin-top: 0.5rem;">
      <h5 class="mt-0 mb-3">Filmography</h5>
      <ul class="nav nav-tabs mb-1" role="tablist">
        <li *ngFor="let type of getUniqueFilmographyTypes(); let i = index" class="nav-item">
          <a class="nav-link" [class.active]="i === activeTab" role="tab" (click)="activeTab = i">
            {{ type }}
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div *ngFor="let type of getUniqueFilmographyTypes(); let i = index" class="tab-pane fade" [class.show]="activeTab === i" [class.active]="activeTab === i" role="tabpanel">
          <div class="d-flex flex-row flex-nowrap overflow-auto filmography-container">
            <div class="text-center mr-3 mb-2 p-2 border filmography-item"
                 *ngFor="let filmography of getFilmographiesByType(type)"
                 (click)="navigateToMovie(filmography.movie?.id)">
              <img [src]="filmography.movie?.posterLink" alt="" class="img-thumbnail mb-1">
              <div class="filmography-title">{{ filmography.movie?.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
