//fix for non wanted scroll bar when multi dropdown appears
.dropdown-list{
  overflow: hidden;
  margin-top: 0 !important;
}

.single-select .multiselect-item-checkbox {
  padding: 0px !important;
}
.single-select input[type=checkbox]+div:before {
  display: none;
}

.single-select input[type=checkbox]+div:after {
  display: none;
}

.single-select input[type=checkbox]+div {
  padding: 6px 10px !important;
}

.single-select input[type=checkbox]:checked+div {
  background-color: #666 !important;
  color: #fff !important;
}

.single-select .selected-item {
  max-width: unset !important;
}

.multiselect-dropdown .selected-item {
  background-color: #777 !important;
}

.multiselect-item-checkbox input + div:before {
  color: #777 !important;
  border-color: #777 !important;
}

.multiselect-item-checkbox input:checked + div:before {
  background: #777 !important;
}

.single-select .filter-textbox {
  padding: 0 5px 5px 5px !important;
  input {
    padding: 0 5px !important;
  }
}

/* Style scrollbars across browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background: #eeeeee; /* Lighter track color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb; /* Lighter thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #eeeeee; /* Padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa; /* Thumb color on hover */
}

// Custom styles for Bootstrap buttons

// Info Button
.btn-info {
  background-color: #f1f1f1; // Custom info button color
  border-color: #bbb;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-info:hover, .btn-info:active, .btn-info:focus {
  background-color: #666 !important; // Slightly darker on hover
  border-color: #999 !important;
  color: #f1f1f1 !important;
  box-shadow: unset !important;
}

// Success Button
.btn-success {
  background-color: #f1f1f1;
  border-color: #bbb;
  color: #6B8E23;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  background-color: #6B8E23 !important;
  border-color: #f1f1f1 !important;
  color: #f1f1f1 !important;
  box-shadow: unset !important;
}

// Danger Button
.btn-danger {
  background-color: #f1f1f1;
  border-color: #bbb;
  color: #660000;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
  background-color: #660000 !important;
  border-color: #f1f1f1 !important;
  color: #f1f1f1 !important;
  box-shadow: unset !important;
}

.bi-plus-lg::before {
  font-weight: 900 !important;
}

//badges
.badge-container {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  font-size: 0.8rem;
  padding: 0.4em 0.6em;
  background-color: #777;
  color: #f1f1f1;
  margin-right: 0.5rem;
}

.modal-body .badge {
  margin-bottom: 0.5rem;
}

.badge-remove {
  cursor: pointer;
  color: #660000; /* Red color for remove icon */
  margin-left: 0.1rem;
}

.badge-remove:hover {
  color: #800000; /* Darker red on hover */
}

.medium-textarea {
  height: 100px;
}

.big-textarea {
  height: 150px;
}

.form-control:focus {
  border-color: #6c757d;
  box-shadow: 0 0 0 .25rem rgba(108, 117, 125, 0.25);
}

/* Overwriting styles for gray theme */
[ngbDatepickerDayView] {
  background: transparent;

  &:hover:not(.bg-primary),
  &.active:not(.bg-primary) {
    background-color: #d6d6d6; /* Darker gray for hover and active */
  }

  &.outside {
    opacity: 0.5;
  }
}

.ngb-dp-weekday,
.ngb-dp-week-number {
  color: #6c757d !important; /* Dark gray text color */
}

.ngb-dp-weekdays {
  background-color: #f1f1f1; /* Light gray background */
}

ngb-datepicker-navigation-select > .form-select::-ms-value {
  background-color: transparent !important;
}

ngb-datepicker-navigation .ngb-dp-arrow > button {
  color: #6c757d !important; /* Dark gray arrow color */
}

.ngb-dp-navigation-chevron {
  border-color: #6c757d; /* Dark gray chevron color */
}

.ngb-dp-month-name {
  background-color: #f1f1f1; /* Light gray background */
}

ngb-datepicker {
  border: 1px solid #ccc; /* Gray border */
}

ngb-datepicker.disabled .ngb-dp-weekday,
ngb-datepicker.disabled .ngb-dp-week-number,
ngb-datepicker.disabled .ngb-dp-month-name {
  color: #6c757d; /* Muted gray text */
}

.ngb-dp-header {
  background-color: #f1f1f1; /* Light gray background */
}

/* Changing the selected day color */
.ngb-dp-day .bg-primary {
  background-color: #6c757d !important; /* Dark gray background for selected day */
  color: #fff !important; /* White text for selected day */
}

/* Style the select element */
ngb-datepicker select {
  background-color: #f1f1f1 !important; /* Light gray background */
  color: #333 !important; /* Dark gray text color */
  border: 1px solid #ccc !important; /* Gray border */
}

/* Style the select element when focused */
ngb-datepicker select:focus {
  border-color: #6c757d !important; /* Dark gray border on focus */
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25) !important; /* Subtle box shadow on focus */
}

/* Style the options within the select dropdown */
ngb-datepicker select option {
  background-color: #ffffff !important; /* White background for options */
  color: #333 !important; /* Dark gray text color for options */
}

ngb-datepicker select option:hover {
  box-shadow: 0 0 10px 100px #d6d6d6 inset !important;
}

//modal headers
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn-close {
    border: none;
    background: none;
    font-size: 1.5rem;
    color: #000;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-close:hover {
    opacity: 1;
  }

  .btn-close:focus {
    outline: none;
    box-shadow: none;
  }

}
