<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div *ngFor="let toast of toastService.toasts" [ngClass]="getPositionClass(toast.position)" class="toast-container p-3">
    <ngb-toast [header]="toast.header" [class]="toast.classname" [delay]="toast.delay" (hidden)="toastService.remove(toast)">
      {{ toast.textOrTpl }}
    </ngb-toast>
  </div>
</div>
