<div class="modal-header d-flex justify-content-between">
  <h5 class="modal-title">Confirm Deletion</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{ message }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="activeModal.dismiss('cancel')">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close('confirm')">Delete</button>
</div>
