<div class="modal-header d-flex justify-content-between">
  <h5 class="modal-title">{{ isEditMode ? 'Edit Person' : 'Create Person' }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="personForm" (ngSubmit)="savePerson()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="personName">Name</label>
          <input type="text" class="form-control" id="personName" formControlName="name" [ngClass]="{'is-invalid': personForm.get('name')?.invalid && (personForm.get('name')?.dirty || personForm.get('name')?.touched)}" required maxlength="100">
          <div *ngIf="personForm.get('name')?.invalid && (personForm.get('name')?.dirty || personForm.get('name')?.touched)" class="invalid-feedback">
            <div *ngIf="personForm.get('name')?.errors?.['required']">Name is required.</div>
            <div *ngIf="personForm.get('name')?.errors?.['maxlength']">Name cannot be longer than 100 characters.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="personPosterLink">Image Link</label>
          <input type="url" class="form-control" id="personPosterLink" formControlName="posterLink" [ngClass]="{'is-invalid': personForm.get('posterLink')?.invalid && (personForm.get('posterLink')?.dirty || personForm.get('posterLink')?.touched)}" required>
          <div *ngIf="personForm.get('posterLink')?.invalid && (personForm.get('posterLink')?.dirty || personForm.get('posterLink')?.touched)" class="invalid-feedback">
            <div *ngIf="personForm.get('posterLink')?.errors?.['required']">Poster link is required.</div>
            <div *ngIf="personForm.get('posterLink')?.errors?.['pattern']">Please enter a valid URL.</div>
          </div>
        </div>
        <div class="form-group position-relative">
          <label for="personBorn">Date of Birth</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="yyyy-mm-dd"
              formControlName="born"
              name="dp"
              ngbDatepicker
              #d="ngbDatepicker"
              [ngClass]="{'is-invalid': personForm.get('born')?.invalid && (personForm.get('born')?.dirty || personForm.get('born')?.touched)}"
              required
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            <div *ngIf="personForm.get('born')?.invalid && (personForm.get('born')?.dirty || personForm.get('born')?.touched)" class="invalid-feedback">
              <div *ngIf="personForm.get('born')?.errors?.['required']">Date of Birth is required.</div>
              <div *ngIf="personForm.get('born')?.errors?.['ngbDate']?.invalid">Invalid date.</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="personResume">Resume</label>
          <textarea class="form-control big-textarea" id="personResume" formControlName="resume" rows="3" [ngClass]="{'is-invalid': personForm.get('resume')?.invalid && (personForm.get('resume')?.dirty || personForm.get('resume')?.touched)}" required maxlength="1000"></textarea>
          <div *ngIf="personForm.get('resume')?.invalid && (personForm.get('resume')?.dirty || personForm.get('resume')?.touched)" class="invalid-feedback">
            <div *ngIf="personForm.get('resume')?.errors?.['required']">Resume is required.</div>
            <div *ngIf="personForm.get('resume')?.errors?.['maxlength']">Resume cannot be longer than 1000 characters.</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="searchMovies">Search Movies</label>
          <ng-multiselect-dropdown
            [placeholder]="'Search Movie'"
            [data]="movies"
            [settings]="movieDropdownSettings"
            (onFilterChange)="searchMovies($event)"
            (onSelect)="onMovieSelected($event)"
            (click)="searchFocus()"
            class="movie-dropdown single-select">
          </ng-multiselect-dropdown>
          <div class="row mt-2">
            <div class="col">
              <ng-multiselect-dropdown
                [placeholder]="'Select Role'"
                [data]="filmographyTypes"
                [settings]="filmographyTypeDropdownSettings"
                (onSelect)="onFilmographyTypeSelected($event)"
                class="single-select">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-info" title="Add Filmography" (click)="addFilmography()">
                <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </div>
          <div class="badge-container mt-3">
            <span *ngFor="let filmography of editedPerson.filmographies" class="badge badge-secondary mr-1">
              {{ filmography.movie?.name }} ({{ filmography.filmographyType?.name }})
              <span class="badge-remove" title="Remove Movie/Role" (click)="removeFilmography(filmography)">X</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
      <button type="submit" class="btn btn-success">{{ isEditMode ? 'Save Changes' : 'Create Person' }}</button>
    </div>
  </form>
</div>

