<div class="container-fluid" id="movie-detail-container" *ngIf="selectedMovie">
  <div class="well p-3 bg-light" style="height: calc(100vh - 50px); overflow-y: auto;">
    <div class="row no-gutters mb-2">
      <div class="col-md-4" style="padding-left: 1.5rem; padding-top: 1.5rem;">
        <img class="img-thumbnail main-image" [src]="selectedMovie.posterLink" alt="Movie poster">
      </div>
      <div class="col-md-8">
        <div style="padding: 1.5rem;">
          <div class="d-flex justify-content-between align-items-start mb-3">
            <div>
              <h2>{{ selectedMovie.name }} ({{ selectedMovie.year }})</h2>
              <div *ngIf="averageGrade !== null" class="d-flex align-items-center mt-2 rating-info">
                <i class="bi bi-star-fill text-warning mr-2"></i>
                <span class="rating-text">{{ averageGrade }}/10</span>
              </div>
              <div *ngIf="averageGrade === null" class="d-flex align-items-center mt-2 rating-info">
                <i class="bi bi-star text-secondary mr-2"></i>
                <span class="rating-text">No ratings yet</span>
              </div>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-info mr-2" title="Rate Movie" (click)="openRatingModal()">
                <i class="bi bi-star-fill"></i>
              </button>
              <button type="button" class="btn btn-info mr-2" title="Edit Movie" (click)="editMovie(true, selectedMovie)">
                <i class="bi bi-pencil-fill"></i>
              </button>
              <button type="button" class="btn btn-info mr-2" title="Delete Movie" (click)="deleteMovie(selectedMovie)">
                <i class="bi bi-trash-fill"></i>
              </button>
            </div>
          </div>
          <div class="movie-details">
            <p class="lead">{{ selectedMovie.summaryText }}</p>
            <p><strong>Storyline:</strong> {{ selectedMovie.storyline }}</p>
            <p><strong>Country:</strong> {{ selectedMovie.country }}</p>
            <p><strong>Language:</strong> {{ selectedMovie.language }}</p>
            <p><strong>Release Date:</strong> {{ selectedMovie.releaseDate | date }}</p>
            <p><strong>Runtime (min):</strong> {{ selectedMovie.runningTime }}</p>
            <div class="d-flex align-items-center genre-container">
              <label class="mr-3"><strong>Genres:</strong></label>
              <div class="badge-container">
                <span *ngFor="let genre of selectedMovie.genres" class="badge badge-secondary">{{ genre.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="getUniqueFilmographyTypes().length > 0" class="well p-3 bg-light" style="padding-bottom: 0 !important; margin-top: 0.5rem;">
      <h5 class="mt-0 mb-3">Cast & Crew</h5>
      <ul class="nav nav-tabs mb-1" role="tablist">
        <li *ngFor="let type of getUniqueFilmographyTypes(); let i = index" class="nav-item">
          <a class="nav-link" [class.active]="i === activeTab" role="tab" (click)="activeTab = i">
            {{ type.name }}
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div *ngFor="let type of getUniqueFilmographyTypes(); let i = index" class="tab-pane fade" [class.show]="activeTab === i" [class.active]="activeTab === i" role="tabpanel">
          <div class="d-flex flex-row flex-nowrap overflow-auto filmography-container">
            <div class="text-center mr-3 mb-2 p-2 border filmography-item"
                 *ngFor="let filmography of getFilmographiesByType(type.id)"
                 (click)="navigateToPerson(filmography.person?.id)">
              <img [src]="filmography.person?.posterLink" alt="" class="img-thumbnail mb-1">
              <div class="filmography-title">{{ filmography.person?.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
