<div class="container-fluid mt-3" id="app-container">
  <div class="row">
    <div class="col-lg-4">
      <div class="well p-3 bg-light" style="height: calc(100vh - 50px); overflow: hidden;">
        <ul class="nav nav-tabs mb-3" role="tablist">
          <li role="presentation" class="nav-item">
            <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link" routerLink="/people" routerLinkActive="active">People</a>
          </li>
        </ul>
        <div class="tab-content" style="height: 100%;">
          <app-movie-list *ngIf="showMovieList"></app-movie-list>
          <app-person-list *ngIf="showPeopleList"></app-person-list>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <app-movie-detail *ngIf="showMovieDetail" [movieId]="movieId"></app-movie-detail>
      <app-person-detail *ngIf="showPeopleDetail" [personId]="personId"></app-person-detail>
    </div>
  </div>
</div>
<app-toast-container></app-toast-container>
<app-loader></app-loader>
