#app-container {
  .well {
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    padding: 1em;
    height: calc(100vh - 100px);
    overflow: hidden;
  }

  .nav-tabs {
    margin-bottom: 0;
  }

  .nav-tabs .nav-link {
    color: #495057;
  }

  .nav-tabs .nav-link.active {
    color: #495057;
    font-weight: bold;
    background-color: #e9ecef;
    border-color: #dee2e6 #dee2e6 #fff;
  }
}

.card {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.well {
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
}

.img-thumbnail {
  max-width: 100%;
  height: auto;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}
