<div class="modal-header d-flex justify-content-between">
  <h5 class="modal-title">Rate {{ movieName }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #ratingForm="ngForm" (ngSubmit)="onSubmit(ratingForm)">
  <div class="modal-body">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required email #emailInput="ngModel" (ngModelChange)="onEmailChange(emailInput)" [ngClass]="{'is-invalid': emailInput.invalid && (emailInput.dirty || emailInput.touched)}">
      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="invalid-feedback">
        <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
        <div *ngIf="emailInput.errors?.['email']">Please enter a valid email address.</div>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="rating">Rating</label>
      <div class="rating-container">
        <ng-template #starTemplate let-fill="fill">
          <span class="star" [class.full]="fill === 100" [class.empty]="fill === 0">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
          </span>
        </ng-template>
        <ngb-rating [(rate)]="rating" (rateChange)="onRatingChange($event)" [starTemplate]="starTemplate" [max]="10" [readonly]="false" class="big-yellow-stars" [ngClass]="{'is-invalid': ratingInvalid}"></ngb-rating>
      </div>
      <div *ngIf="ratingInvalid" class="invalid-feedback d-block">
        Rating is required.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="activeModal.dismiss()">Close</button>
    <button type="submit" class="btn btn-success">{{ buttonText }}</button>
  </div>
</form>
