.rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ensure stars appear below the email input */
}

.star {
  font-size: 35px; /* Increase the size of the stars */
  margin: 0 2px;
  color: #d3d3d3;
  padding: 2px;
}

.star.full {
  color: #ffc107; /* Yellow color for filled stars */
}

.star.empty {
  color: #d3d3d3; /* Gray color for empty stars */
}

.star .bi-star-fill, .star .bi-star {
  display: none;
}

.star.full .bi-star-fill {
  display: inline;
}

.star.empty .bi-star {
  display: inline;
}
