<div class="container-fluid mt-3" id="person-list-container">
  <div class="row mb-3 bg-light py-2" style="position: sticky; top: 0; z-index: 1000;">
    <div class="col-md-10">
      <div class="input-group">
        <input id="searchPerson" type="text" class="form-control" placeholder="Search Person"
               [(ngModel)]="searchPerson" (keyup)="updatePersonList()">
      </div>
    </div>
    <div class="col-md-2 text-right">
      <button (click)="addPerson()" class="btn btn-info" title="Create Person">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
  <div class="list-group" style="max-height: calc(100vh - 210px); overflow-y: auto;">
    <a class="list-group-item list-group-item-action" *ngFor="let person of people" (click)="showPerson(person)"
       [class.selected]="isSelected(person)">
      <div class="media">
        <img class="mr-3 img-thumbnail" [src]="person.posterLink" alt="">
        <div class="media-body">
          <h5 class="mt-0">{{ person.name }} ({{ person.born }})</h5>
        </div>
      </div>
    </a>
  </div>
</div>
