<div class="container-fluid mt-3" id="movie-list-container">
  <div class="row mb-3 bg-light py-2" style="position: sticky; top: 0; z-index: 1000;">
    <div class="col-md-10">
      <div class="input-group">
        <input id="searchMovie" type="text" class="form-control" placeholder="Search Movie"
               [(ngModel)]="searchMovie" (keyup)="updateMovieList()">
      </div>
    </div>
    <div class="col-md-2 text-right">
      <button (click)="addMovie()" class="btn btn-info" title="Create Movie">
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </div>
  <div class="list-group" style="max-height: calc(100vh - 210px); overflow-y: auto;">
    <a class="list-group-item list-group-item-action" *ngFor="let movie of movies" (click)="showMovie(movie)"
       [class.selected]="isSelected(movie)">
      <div class="media">
        <img class="mr-3 img-thumbnail" [src]="movie.posterLink" alt="">
        <div class="media-body">
          <h5 class="mt-0">{{ movie.name }} ({{ movie.year }})</h5>
        </div>
      </div>
    </a>
  </div>
</div>
