#movie-list-container {
  .input-group {
    .form-control {
      border-radius: 0.25rem;
      border: 1px solid #ddd;
    }
  }

  .list-group {
    margin-top: 10px;
    .list-group-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      .media {
        display: flex;
        align-items: center;
        .img-thumbnail {
          width: 100px;
          height: 150px;
          object-fit: cover;
        }
        .media-body {
          flex-grow: 1;
          padding-left: 1em;
          h5 {
            margin: 0;
            font-size: 1.15rem;
          }
        }
      }
      &.selected {
        background-color: #e9ecef;
      }
    }
  }
}
