<div class="modal-header d-flex justify-content-between">
  <h5 class="modal-title">{{ isEditMode ? 'Edit Movie' : 'Create Movie' }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="movieForm" (ngSubmit)="saveMovie()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="movieName">Movie Name</label>
          <input type="text" class="form-control" id="movieName" formControlName="name" [ngClass]="{'is-invalid': movieForm.get('name')?.invalid && (movieForm.get('name')?.dirty || movieForm.get('name')?.touched)}" required maxlength="100">
          <div *ngIf="movieForm.get('name')?.invalid && (movieForm.get('name')?.dirty || movieForm.get('name')?.touched)" class="invalid-feedback">
            <div *ngIf="movieForm.get('name')?.errors?.['required']">Movie name is required.</div>
            <div *ngIf="movieForm.get('name')?.errors?.['maxlength']">Movie name cannot be longer than 100 characters.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="movieYear">Year</label>
          <input type="number" class="form-control" id="movieYear" formControlName="year" [ngClass]="{'is-invalid': movieForm.get('year')?.invalid && (movieForm.get('year')?.dirty || movieForm.get('year')?.touched)}" required min="1888" max="2100">
          <div *ngIf="movieForm.get('year')?.invalid && (movieForm.get('year')?.dirty || movieForm.get('year')?.touched)" class="invalid-feedback">
            <div *ngIf="movieForm.get('year')?.errors?.['required']">Year is required.</div>
            <div *ngIf="movieForm.get('year')?.errors?.['min']">Year cannot be before 1888.</div>
            <div *ngIf="movieForm.get('year')?.errors?.['max']">Year cannot be after 2100.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="moviePosterLink">Poster Link</label>
          <input type="url" class="form-control" id="moviePosterLink" formControlName="posterLink" [ngClass]="{'is-invalid': movieForm.get('posterLink')?.invalid && (movieForm.get('posterLink')?.dirty || movieForm.get('posterLink')?.touched)}" required>
          <div *ngIf="movieForm.get('posterLink')?.invalid && (movieForm.get('posterLink')?.dirty || movieForm.get('posterLink')?.touched)" class="invalid-feedback">
            <div *ngIf="movieForm.get('posterLink')?.errors?.['required']">Poster link is required.</div>
            <div *ngIf="movieForm.get('posterLink')?.errors?.['pattern']">Please enter a valid URL.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="movieSummary">Summary</label>
          <textarea class="form-control medium-textarea" id="movieSummary" formControlName="summaryText" [ngClass]="{'is-invalid': movieForm.get('summaryText')?.invalid && (movieForm.get('summaryText')?.dirty || movieForm.get('summaryText')?.touched)}" required maxlength="500"></textarea>
          <div *ngIf="movieForm.get('summaryText')?.invalid && (movieForm.get('summaryText')?.dirty || movieForm.get('summaryText')?.touched)" class="invalid-feedback">
            <div *ngIf="movieForm.get('summaryText')?.errors?.['required']">Summary is required.</div>
            <div *ngIf="movieForm.get('summaryText')?.errors?.['maxlength']">Summary cannot be longer than 500 characters.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="movieCountry">Country</label>
          <input type="text" class="form-control" id="movieCountry" formControlName="country" [ngClass]="{'is-invalid': movieForm.get('country')?.invalid && (movieForm.get('country')?.dirty || movieForm.get('country')?.touched)}" required maxlength="50">
          <div *ngIf="movieForm.get('country')?.invalid && (movieForm.get('country')?.dirty || movieForm.get('country')?.touched)" class="invalid-feedback">
            <div *ngIf="movieForm.get('country')?.errors?.['required']">Country is required.</div>
            <div *ngIf="movieForm.get('country')?.errors?.['maxlength']">Country cannot be longer than 50 characters.</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="movieStoryline">Storyline</label>
          <textarea class="form-control big-textarea" id="movieStoryline" formControlName="storyline" [ngClass]="{'is-invalid': movieForm.get('storyline')?.invalid && (movieForm.get('storyline')?.dirty || movieForm.get('storyline')?.touched)}" required maxlength="1000"></textarea>
          <div *ngIf="movieForm.get('storyline')?.invalid && (movieForm.get('storyline')?.dirty || movieForm.get('storyline')?.touched)" class="invalid-feedback">
            <div *ngIf="movieForm.get('storyline')?.errors?.['required']">Storyline is required.</div>
            <div *ngIf="movieForm.get('storyline')?.errors?.['maxlength']">Storyline cannot be longer than 1000 characters.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="movieLanguage">Language</label>
          <input type="text" class="form-control" id="movieLanguage" formControlName="language" [ngClass]="{'is-invalid': movieForm.get('language')?.invalid && (movieForm.get('language')?.dirty || movieForm.get('language')?.touched)}" required maxlength="50">
          <div *ngIf="movieForm.get('language')?.invalid && (movieForm.get('language')?.dirty || movieForm.get('language')?.touched)" class="invalid-feedback">
            <div *ngIf="movieForm.get('language')?.errors?.['required']">Language is required.</div>
            <div *ngIf="movieForm.get('language')?.errors?.['maxlength']">Language cannot be longer than 50 characters.</div>
          </div>
        </div>
        <div class="form-group position-relative">
          <label for="movieReleaseDate">Release Date</label>
          <div class="input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              formControlName="releaseDate"
              name="dp"
              ngbDatepicker
              #d="ngbDatepicker"
              [ngClass]="{'is-invalid': movieForm.get('releaseDate')?.invalid && (movieForm.get('releaseDate')?.dirty || movieForm.get('releaseDate')?.touched)}"
              required
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            <div *ngIf="movieForm.get('releaseDate')?.invalid && (movieForm.get('releaseDate')?.dirty || movieForm.get('releaseDate')?.touched)" class="invalid-feedback">
              <div *ngIf="movieForm.get('releaseDate')?.errors?.['required']">Release date is required.</div>
              <div *ngIf="movieForm.get('releaseDate')?.errors?.['ngbDate']?.invalid">Invalid date.</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="movieRunningTime">Runtime (min)</label>
          <input type="number" class="form-control" id="movieRunningTime" formControlName="runningTime" [ngClass]="{'is-invalid': movieForm.get('runningTime')?.invalid && (movieForm.get('runningTime')?.dirty || movieForm.get('runningTime')?.touched)}" required min="1" max="600">
          <div *ngIf="movieForm.get('runningTime')?.invalid && (movieForm.get('runningTime')?.dirty || movieForm.get('runningTime')?.touched)" class="invalid-feedback">
            <div *ngIf="movieForm.get('runningTime')?.errors?.['required']">Runtime is required.</div>
            <div *ngIf="movieForm.get('runningTime')?.errors?.['min']">Runtime must be at least 1 minute.</div>
            <div *ngIf="movieForm.get('runningTime')?.errors?.['max']">Runtime cannot be longer than 600 minutes.</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="genreDropdown">Genres</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Genres'"
            [data]="genres"
            [(ngModel)]="editedMovie.genres"
            [settings]="dropdownSettings"
            name="genres"
            [ngModelOptions]="{standalone: true}"
            (onSelect)="onGenreSelect()"
            (onDeSelect)="onGenreSelect()"
            (onSelectAll)="onGenreSelect()"
            (onDeSelectAll)="onGenreSelect()"
            (click)="onGenreTouched()"
          >
          </ng-multiselect-dropdown>
          <div *ngIf="movieForm.get('genres')?.invalid && movieForm.get('genres')?.touched" class="invalid-feedback d-block">
            At least one genre must be selected.
          </div>
        </div>
        <div class="form-group">
          <label for="searchPeople">Cast & Crew</label>
          <ng-multiselect-dropdown
            [placeholder]="'Search Person'"
            [data]="people"
            [settings]="peopleDropdownSettings"
            (onFilterChange)="onPeopleFilterChange($event)"
            (onSelect)="onPersonSelected($event)"
            (click)="searchFocus()"
            class="people-dropdown single-select">
          </ng-multiselect-dropdown>
          <div class="row mt-2">
            <div class="col">
              <ng-multiselect-dropdown
                [placeholder]="'Select Role'"
                [data]="filmographyTypes"
                [settings]="filmographyTypeDropdownSettings"
                (onSelect)="onFilmographyTypeSelected($event)"
                class="single-select">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-info" title="Add Cast/Crew" (click)="addFilmography()">
                <i class="bi bi-plus-lg"></i>
              </button>
            </div>
          </div>
          <div class="badge-container mt-3">
            <span *ngFor="let filmography of editedMovie.filmographies" class="badge badge-secondary mr-1">
              {{ filmography.person?.name }} ({{ filmography.filmographyType?.name }})
              <span class="badge-remove" title="Remove Cast/Crew" (click)="removeFilmography(filmography)">X</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
      <button type="button" class="btn btn-success" (click)="saveMovie()">
        {{ isEditMode ? 'Save Changes' : 'Create Movie' }}
      </button>
    </div>
  </form>
</div>

